body {
  background: #100000;
  font-family: sans-serif;
  color: white;
}

strong.r {
  color:red;
}

a {
  text-decoration: underline;
}

li {
  list-style: circle;
  margin-bottom: 5px;
}

input {
  color: black;
}

.title {
  font-size: 48px;
}

.heading {
  position: relative;
}

.heading-right {
  position: absolute;
  font-size: 14px;
  top: 10px;
  right: 0;
}

.heading-right div {
  margin: 5px;
}

.title {
  margin-top: 15px;
  font-size: 48px;
}

.subtitle {
  margin-bottom: 20px;
  font-size: 18px;
}

.button {
  color: white;
  float: right;
  background: red;
  font-size: 14px;
  margin-left: 20px;
}

.button:hover {
  cursor: pointer;
  background: darkred;
}

.clear {
  padding: 10px;
}

.bst-btn {
  padding: 10px;
  background: blue;
}

.rbt-btn {
  padding: 10px;
}

.hidden {
  display: none;
}

.node {
  display: flex;
  margin-top: 40px;
  padding: 10px;
}

.nodeval {
  background: white;
  border: 1px solid black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 5px;
}

.nodeval.b {
  color: white;
  background:black;
}

.nodeval.r {
  color:white;
  background:red;
}

.node-form {
  float: left;
  margin-right: 20px;
}

.val-to {
  background: white;
  width: 100px;
  border: 1px solid black;
  padding: 5px;
}

.val-to-submit {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  background: lightblue;
}

.the-world {
  width: 700px;
  margin: 20px auto;
  font-size: 20px;
}

.forest,
.forest-diagram {
  color: black;
  padding: 10px;
  background: lightblue;
  width: 700px;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
  overflow: scroll;
}

.forest {
  height: 50px;
}

.forest-diagram {
  height: 500px;
}


.below-canvas {
  font-size: 16px;
  line-height: 18px;
}

.below-canvas .heading {
  font-size: 24px;
  margin: 10px 0;
}
